html {
  background-color: lightblue; }

body {
  text-align: center;
  background-image: url("http://i.imgur.com/ZMp4wUe.png");
  background-size: cover;
  background-position: center top;
  font-family: 'Erica One', cursive; }

a:link, a:visited {
  color: darkgreen; }

a:hover {
  cursor: pointer; }

#title, #instructions {
  text-align: center; }

#title {
  font-size: 48px;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  color: white;
  -webkit-text-stroke: 3px darkgreen;
  text-shadow: 3px 3px 3px darkgreen; }

#instructions {
  font-size: 18px;
  color: darkgreen;
  margin-top: 0;
  margin-bottom: 3rem; }

ul {
  list-style-type: none;
  display: inline-block;
  padding-left: 0; }
  ul li {
    float: left;
    margin: 0.5em; }

#main {
  padding-bottom: 0; }

.birds {
  width: 100%;
  float: left;
  height: 6rem;
  max-height: 500px; }

#orangeBird {
  width: 33%;
  margin-top: 0;
  animation-name: orangefly;
  animation-duration: 3s;
  animation-delay: 2s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  overflow: visible; }

#redBird {
  width: 33%;
  margin-top: 0;
  animation-name: redfly;
  animation-duration: 3s;
  animation-delay: 1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  overflow: visible; }

#yellowBird {
  width: 33%;
  margin-top: 0;
  animation-name: yellowfly;
  animation-duration: 3s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  overflow: visible; }

#play {
  vertical-align: middle;
  border-radius: 18px;
  background-color: darkgreen;
  color: white;
  font-size: 36px;
  border: 0;
  position: static; }

#social-ul {
  margin-top: 2rem; }

#social-ul, #social-ul li {
  margin-bottom: 0;
  padding-bottom: 0; }

#initials {
  width: 1em;
  margin-left: auto;
  margin-right: auto; }

/* Animation */
@keyframes orangefly {
  from {
    margin-top: 0;
    margin-bottom: 0; }
  to {
    margin-top: -2rem;
    margin-bottom: 2rem; } }

@keyframes redfly {
  from {
    margin-top: 0;
    margin-bottom: 0; }
  to {
    margin-top: -2rem;
    margin-bottom: 2rem; } }

@keyframes yellowfly {
  from {
    margin-top: 0;
    margin-bottom: 0; }
  to {
    margin-top: -2rem;
    margin-bottom: 2rem; } }
